@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+NO:wght@100..400&display=swap');



@media(max-width:750px) {
    header{
        font-size:20px;
        line-height: 15px;
    }
    header svg{
        height:55px
    }

    .add_expense,.home,.expenses_list{
        font-size: 0;
        visibility: collapse;
        display: none;
    }
    .home,.add_expense,.expenses_list::after{
        opacity: 0;
        visibility: hidden;
    }
    .off-screen-menu{
        float: right;
        background-color: rgb(100, 190, 196);
        height:100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        top:0px;
        left:150px;
        font-size: 20px;
        right:-300px;
        width:100%;
        max-width:300px;
        align-items: flex-start;
        margin-left: auto;
        justify-content: space-between;
        transition: 0.3s ease;
        opacity: 1;
        visibility: visible;
    }

    .off-screen-menu.active{
        right:0px;
        opacity: 1;
        visibility: visible;
    }

    .off-screen-menu a{
        text-decoration: none;
        color: rgb(238, 238, 238);
        opacity: 1;
    }

    .off-screen-menu a:nth-child(1){
        position: absolute;
        top:60px;
        opacity: 1;
    }

    .off-screen-menu a:nth-child(2){
        position: absolute;
        top:100px;
        opacity: 1;
    }
    .off-screen-menu a:nth-child(3){
        position: absolute;
        top:140px;
        opacity: 1;
    }

    
    .ham-menu{
        height:50px;
        width:50px;
        margin-left:auto;
        position: absolute;
        display: flex;
        flex-direction: column;
        top:23px;
        left:370px;
    }

    .ham-menu span{
        height:3px;
        width: 50px;
        background-color: rgb(255, 255, 255);
        margin-bottom: 10px;
        border-radius:20px;
        justify-content: center;
        flex:auto;
        visibility: visible;
        cursor: pointer;
    }

    .ham-menu.active span:nth-child(1){
        top:30%;
        transform: translateY(17px) rotate(45deg);

    }

    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3){
        top: 30%;
        transform: translateY(-15px) rotate(-45deg);
    }

}

@media(max-width:1440px){
.off-screen-menu,.ham-menu{
visibility: hidden;
position: absolute;
}


}

.arrow{
    display: inline-block;
    height: 0;
    width:0;
    background-color:transparent;
    border: 10px solid transparent;
    border-top:10px solid black ;
    position: absolute;
    left:73%;
    margin-top:3%;
}

.arrow:hover{
    cursor: pointer;
}

.arrow.active{
    transform: rotate(180deg);
}

.customer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img{
    border-radius: 50%;
    height:250px;
    width: 270px;
    margin-top: 7%;
    margin-left:3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


body div li{
    list-style: none;
    margin-left: -6%;
    width:290px;
}

.categories{
    margin-top: -4.7%;
    width:290px;
    position: absolute;
    top:110.5%;
    background-color: rgb(246, 246, 246);
    margin-left:3%;
    width: 300px;
    visibility: hidden;
}

.categories.active{
    visibility: visible;
}

.categories li::after{
    content:"";
    display: block;
    height:1px;
    width:290px;
    background-color: rgb(33, 33, 33);
    color: rgb(41, 40, 40);
    position: absolute;
    margin-left: -4%;

}

.categories li:hover{
    cursor: pointer;
    background-color: rgb(238, 236, 236);
    margin-left: -3%;
}


.form{
    margin:5%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit{
    text-transform: uppercase;
    display:block;
    margin-left: 70%;
    margin-bottom: 5%;
    transition: 0.3s;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
}

.submit:hover{
    letter-spacing :3px;
    border: 1px solid black;
    box-shadow: 5px 5px 2px ;
}

fieldset{
    margin-left:5%;
    margin-top:5%;
    margin-bottom: 2%;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: "auto";
    font-weight: "200px";
    font-style: "normal";
}

input{
    margin-left: 4%;
    margin-bottom: 5%;
    background-color: rgb(242, 255, 255);
}


.hrithika{
    color:rgb(108, 191, 223);
    display: inline;
    font-size: larger;
    margin-left: -0.05%;
}

body legend{
    margin-top: 15%;
    display:flex;
    justify-content: center;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
    margin-bottom: 5%;
}

body h1{
    margin-left:6%;
    margin-top: 17%;
    flex:1;
}

.subtitle{
    text-transform: uppercase;
    text-align: center;
    margin-top: 3%;
    margin-top: 10%;
}

body p .money{
    font-weight:bold;
    color: black;
    letter-spacing:10px;
    margin-top: 5%;
}

.content{
    background-color: rgb(235, 234, 234);
    margin-left:5%;
    margin-right: 5%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5%;

}

.content-left{
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    text-transform: capitalize;
    font-size: large;  
    margin-top:10%;
    padding-bottom: 10%;
}


.content-right{
    flex:50%;
    margin-top: 5%;
    margin-left: 10%;
}



#Ellipse_4{
    animation: button 3s ease-out  infinite;
    animation-delay:10s ;
}

#Rectangle_22{

    animation: side 3s ease-out  infinite;
    animation-delay:10s ;

}

#main_purse{
    animation: main 3s ease-out infinite;
    animation-delay:10s ;

}

#money{
    animation: Money 3s ease  infinite;
    animation-delay:10s ;

}

#card_1{
    animation: card_1 3s ease-in  infinite;
    animation-delay:10s ;

}

#card_2{
    visibility: hidden;
}


@keyframes card_1{
    0%{transform: rotate(-0deg);}
    50%{transform: rotate(-30deg);}
    75%{transform: rotate(-30deg);}
    100%{transform: rotate(0deg);}
}

@keyframes Money{
    0%{transform: rotate(-0deg);}
    50%{transform: rotate(-20deg);}
    75%{transform: rotate(-20deg);}
    100%{transform: rotate(0deg);}
}

@keyframes main{
    0%{transform: rotate(0deg)translate(0px);}
    50%{transform: rotate(-7deg);}
    75%{transform: rotate(-7deg);}
    100%{transform: rotate(0deg);}
}

@keyframes side {
    0%{transform: translateX(0px);}
    50%{transform: translateX(30px);}
    75%{transform: translateX(30px);}
    100%{transform: translateX(0px);}
}

@keyframes button{
    0%{transform: translateX(0px);}
    50%{transform: translateX(160px);}
    75%{transform: translateX(160px);}
    100%{transform: translateX(0px);}
}

body{
max-width:100%;
min-height: 100vh;
background-color: rgb(255, 255, 255);
padding: 0 0 0 0;
margin: 0;
border: 0ch;
}

:root{
--color:var(Color);
}

header{
flex-direction: row;
justify-content: space-between;
align-items: center;
font-family: "Playwrite SK", cursive;
font-optical-sizing: auto;
font-style: normal;
background-color: black;
padding: 20px 0px 0px 0px;
}


header svg{
padding: 10px 10px;
}

header p{
display:inline;
color:rgb(255, 255, 255);
font-family: "Playwrite SK", cursive;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
align-items: auto;
}

header a{
text-decoration-line: none;
color:rgb(184, 183, 183);
padding: 5px 30px 10px 50px;
box-sizing: border-box;
float: right;
align-items: center;
transition: 0.3s;
position: relative;
letter-spacing: 0.5px;
}


header a::after{
content:"";
height:2px;
color:rgb(0, 0, 0);
display: block;
background: rgb(56, 206, 239);
transition:  0.3s;
position: absolute;
letter-spacing: 0.5px;
bottom:-1px;
left:40px;
width:0;
}

header a:hover{
color:rgb(255, 255, 255);
}

.add_expense:hover::after{
width:70%;

}

.expenses_list:hover::after{
width:70%;

}

.home:hover::after{
width:50%;

}


header div.website_name{
box-sizing: border-box;
padding-left: 0px;
display: inline;
}